.father {
 
    margin-bottom: 12px;
    border: 1px solid rgb(71, 71, 71);
}

.form {
    background-color: #282B30
}

h2 {
    color: #6C727F;
}

input {
    color: #6C727F;
}

.input {
    background-color: #1B1D1F;
}



